.contact {
  display: flex;
  padding: 50px 40px;
  justify-content: space-around;
  &-title {
  }
  &-form {
    width: 40%;
    background-color: var(--bg-shade);
    padding: 50px;
    box-shadow: 0px 0px 10px 10px rgba(100, 99, 99, 0.7);
    &-fields {
      display: flex;
      flex-direction: column;
      gap: 24px;
      labelHtmlFor {
        margin: 0.5rem 0rem;
      }
      input {
        height: 50px;
        border: 1px solid #aea7a7;
      }
      &-number {
        display: flex;
        labelHtmlFor {
          min-width: 30%;
        }
        input {
          width: 70%;
        }
      }
      &-email {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 30px;
        .fields {
          width: 100%;
        }
      }
      &-message {
        display: flex;
        align-items: center;
        gap: 16px;
        span {
          min-width: fit-content;
        }
        .textarea {
          width: 100%;
          border: 1px solid #aea7a7;
        }
      }
      &-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        input {
          min-height: 100%;
          //background-color: var(--bg-shade);
          width: 80%;
        }
      }
    }
  }
}
