.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
  align-items: center;

  gap: 32px;
  background-color: var(--bg-shade);
  &-contentbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    &-content {
      display: flex;
      flex-direction: column;
      gap: 21px;
      .hero-title {
        color: var(--heading-color);
        font-size: 74.667px;
        font-weight: 700;
        line-height: 90px;
        align-self: stretch;
      }
      .hero-description {
        font-size: 24px;
        color: var(--primary);
        line-height: 30px;
      }
    }
  }
  &-img {
    img {
      width: 20rem;
      height: 25rem;
    }
  }
}
